.main {
    border: none;
    border-radius: 10px;
    padding: 30px;
    padding-left: 30px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    max-width: 700px;
    background: linear-gradient(180.3deg, rgb(235, 224, 224) 5.5%, rgb(101, 136, 168) 90.2%);
    /* background: linear-gradient( 68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%); */
    transition-duration: 200ms;
    height: 465px;
}

.main:hover {
    background-color: #cce4ff;
}

.searchbutton {
    display: flex;
    justify-content: space-between;
}

#city {
    font-size: 70px;
    color: #042857;
    /* color: #e451d5; */
}

.forecast {
    position: relative;
    padding-top: 5px;
}

.degree {
    position: absolute;
    top: 0;
    right: 18px;
    font-size: 35px;
    padding-top: 10px;
    color: #ffe168;
}

.search-form {
    display: flex;
    width: 650px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.date {
    position: absolute;
    top: 2;
    padding-top: 18px;
    line-height: 1.5;
    right: 12rem;
    font-size: 18px;
    color: #021122e0;
}

.buttons {
    float: right;
    padding-left: 22px;
}

.submit,
.current {
    padding: 10px 18px;
    border: 5px;
    border-radius: 35px;
    color: whitesmoke;
    background-color: #042857;
    /* background-color: rgb(243, 121, 251); */
}

.submit:hover {
    background-color: #6588A8;
    /* background-color: #e451d5d0; */
}

.current:hover {
    background-color: #e451d5d0;
}

.temperature {
    font-size: 35px;
    color: #042857;
}

.temperatures {
    font-size: 20px;
    padding-top: 17px;
    padding-left: 15px;
}

.report {
    color: black;
    position: absolute;
    right: 18px;
    font-size: 35px;
    padding-top: 70px;
}

h5::first-letter {
    text-transform: capitalize;
}

.icon {
    font-size: 25px;
    /* color: #ffe168; */
}

.container {
    font-size: 18px;
    color: #021122e0;
    position: relative;
    padding-right: 20px;
}

.days {
    padding-top: 65px;
}

.icons {
    padding-top: 20px;
    font-size: 20px;
}

.temp {
    padding-top: 17px;
    padding-left: 20px;
}

.footer {
    text-align: center;
    font-style: italic;
    font-family: monospace;
    color: black;
    font-size: 16px;
    padding-top: 0;
    margin-top: 2px;
}

.unit {
    color: #042857;
}

.active {
    color: #021122e0;
}